# Python
__pycache__/
*.pyc


# Build Artifacts
*.zip

# Generated Output
*.dxf
!sample.dxf
!sample2.dxf

# Node / Frontend
node_modules/
webapp/app/node_modules/

# IDE Settings
.vscode/
.idea/
sample2.pdf.DS_Store
tracer_output/
.DS_Store
